extends ../layouts/layout.pug

//- include ../components/btn/btn
//- svg(data-url="./assets/svg/arrow.svg")

block content
  -
    const list = ['SVG - СДЕЛАТЬ ОБЫЧНЫЙ ИНЛАЙН', 'RUN - ОБЫЧНЫЙ (ИЛИ ИЗ КОМПОНЕНТА)'];

  .container
    a.link.js-btn(href="/page.html") link to page
    ul(style="font-size: 4rem")
      each item, index in list
        li
          h1!=`${index + 1} - ${item}`