extends ../layouts/layout.pug

//- include ../components/btn/btn

block content
  -
    const list = ['PUG', 'LAYOUT', 'SVG', 'JSON-SERVER'];

  .container
    a.link.js-btn(href="/page.html") link to page
    ul(style="font-size: 4rem")
      each item, index in list
        li
          h1!=`${index + 1} - ${item}`