extends ../layouts/layout.pug

//- include ../components/btn/btn

block content
  -
    const list = ['PUG', 'LAYOUT', 'SVG', 'JSON-SERVER'];
  a(href="/page.html") page
  ul(style="font-size: 10rem")
    each item, index in list
      li
        h1!=`${index + 1} - ${item}`